@model Gauri.Models.TotalCostsViewModel

@{
    ViewBag.Title = "TotalCostsView";
}

<h2>TotalCostsView</h2>

<fieldset>
    <legend>TotalCostsViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
